<body> 
    <section>
            <div class="buttonDiv">
                <a class="buttonIndex" href='@Url.Action("registrarForm","Account")'> Registrarme </a>
            </div>
            <div class="buttonDiv">
                <a class="buttonIndex" href='@Url.Action("LoginForm","Account")'> Login </a>
            </div>
            <div class="buttonDiv">
                <a class="buttonIndex" href='@Url.Action("olvideMiContraForm","Account")'> olvide Mi Contraseña </a>
            </div>
    </section>
</body>