USE [master]
GO
/****** Object:  Database [TP9]    Script Date: 3/10/2023 09:04:27 ******/
CREATE DATABASE [TP9]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TP9', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TP9.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TP9_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TP9_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TP9].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TP9]
GO
/****** Object:  User [alumno]    Script Date: 3/10/2023 09:04:27 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 3/10/2023 09:04:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[UserName] [varchar](255) NOT NULL,
	[Contraseña] [varchar](255) NOT NULL,
	[Nombre] [varchar](255) NOT NULL,
	[Email] [varchar](255) NOT NULL,
	[Telefono] [varchar](15) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Usuario] ([UserName], [Contraseña], [Nombre], [Email], [Telefono]) VALUES (N'FrancoBron', N'1234', N'Franco', N'francobronsztein@gmail.com', N'1126037372')
INSERT [dbo].[Usuario] ([UserName], [Contraseña], [Nombre], [Email], [Telefono]) VALUES (N'FrancoBron', N'hola', N'Franco', N'francobronsztein@gmail.com', N'1126037372')
GO
USE [master]
GO
